[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
"psycopg2-binary" = "*"
django-cors-headers = "*"
pytest = "*"
pytest-django = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
django = "*"
pylint = "*"
djangorestframework = "*"
django-cors-headers = "*"


